**/.vscode
**/__pycache__
**/bin
**/obj
**/out
**/generated_src
**/build


#   dev environment
**/.venv
**/venv

#   build artifacts
dist
*.tar.gz
*.whl
*.egg-info

# tests and coverage
.coverage
htmlcov
coverage.xml                

#   mkdocs
site
