
h2.doc-heading {
    font-size: x-large
}

h3.doc-heading {
    font-size: large;
}

.doc-class>.doc-heading::before {
    font-size: small;
    content: "class ";
    margin-right: 5pt;
}

.doc-contents {
    border-left: 3pt solid rgb(60, 60, 60);
    padding-left: 10pt;
}

.doc-class .doc-children .doc-attribute>.doc-heading::before {
    font-size: small;
    content: "attribute ";
    margin-right: 5pt;
}

.doc-class .doc-children .doc-function>.doc-heading::before {
    font-size: small;
    content: "function ";
    margin-right: 5pt;
}

.doc-children {
    padding-left: 10pt;
}